@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  background-color: #171836;
  color: rgba(255, 255, 255, 0.4);
  font-family: Inter, sans-serif;
}

@keyframes pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
.pulse {
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pulse:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.header-block {
  position: fixed;
  width: 100%;
  height: 80px;
  left: 0;
  top: 0;
  z-index: 100;
}
.header-block.fixed {
  background-color: rgba(23, 24, 54, 0.8);
  border-bottom: 1px solid #171836;
  box-shadow: 0 20px 20px -20px #282B57;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 16.94px;
  height: 80px;
}
.header .header-block-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 46%;
}
.header .header-block-left .header-block-left-navigation {
  width: 58%;
}
.header .header-block-left .header-block-left-navigation .header-block-left-navigation-item {
  display: flex;
  justify-content: space-between;
}
.header .header-block-left .header-block-left-navigation .header-block-left-navigation-item li a:hover {
  color: rgb(255, 255, 255);
}
.header .header-block-right .header-block-right-button {
  width: 102px;
  height: 43px;
  background-color: rgb(245, 68, 59);
  color: rgb(255, 255, 255);
  border-radius: 6px;
  border: 1px solid transparent;
}
.header .header-block-right .header-block-right-button:hover {
  border: 1px solid #008ABF;
  box-shadow: inset 0 0 15px 3px rgb(17, 37, 93);
  background: linear-gradient(rgb(208, 2, 27), rgb(208, 2, 27));
}

.hero-block-all {
  padding-top: 120px;
  padding-bottom: 104px;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 127px;
}
.hero-section .hero-section-avatar {
  position: relative;
}
.hero-section .hero-section-avatar img {
  width: 695px;
  height: 682px;
}
.hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(1) {
  position: absolute;
  top: 22%;
  right: 90%;
  max-width: 90px;
  max-height: 90px;
  border-radius: 20px;
  background-color: #282B57;
  padding: 13px;
  transform: rotate(-8deg);
}
.hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(2) {
  position: absolute;
  top: 7%;
  right: 23%;
  max-width: 90px;
  max-height: 90px;
  border-radius: 20px;
  background-color: #282B57;
  padding: 13px;
  transform: rotate(12deg);
}
.hero-section .hero-section-description {
  padding: 93px 0 0 0;
  max-width: 506px;
}
.hero-section .hero-section-description .hero-section-description-info h1 {
  font-size: 56px;
  line-height: 73px;
  color: rgba(255, 255, 255, 0.8);
  word-spacing: -4px;
  margin-bottom: 24px;
}
.hero-section .hero-section-description .hero-section-description-info p {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 56px;
}
.hero-section .hero-section-description .hero-section-description-info .search-container {
  position: relative;
  margin-bottom: 48px;
}
.hero-section .hero-section-description .hero-section-description-info .search-container input#search-bar {
  width: 506px;
  height: 68px;
  padding: 0 32px;
  background-color: #1F2143;
  border-radius: 8px;
}
.hero-section .hero-section-description .hero-section-description-info .search-container input#search-bar:focus {
  border: 1px solid #008ABF;
  transition: 0.35s ease;
  color: rgb(245, 68, 59);
}
.hero-section .hero-section-description .hero-section-description-info .search-container input#search-bar:focus::placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.hero-section .hero-section-description .hero-section-description-info .search-container input#search-bar:hover {
  box-shadow: inset 5px -5px 10px #13141a, inset -5px 5px 10px #333644;
}
.hero-section .hero-section-description .hero-section-description-info .search-container .search-icon {
  position: absolute;
  width: 24px;
  height: auto;
  top: 32%;
  right: 4%;
}
.hero-section .hero-section-description .hero-section-description-suggestions p {
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 34px;
}
.hero-section .hero-section-description .hero-section-description-suggestions button {
  padding: 5px 17px;
  border: 1px solid rgba(154, 156, 203, 0.6);
  font-size: 14px;
  border-radius: 8px;
  margin-right: 5px;
}
.hero-section .hero-section-description .hero-section-description-suggestions button:focus {
  border: 1px solid #008ABF;
  transition: 0.35s ease;
  color: rgb(245, 68, 59);
}
.hero-section .hero-section-description .hero-section-description-suggestions button:hover {
  box-shadow: inset 5px -5px 10px #13141a, inset -5px 5px 10px #333644;
  transition: 0.35s ease;
  color: rgb(245, 68, 59);
}
.hero-section .hero-section-description .hero-section-description-suggestions .hero-section-description-suggestions-block1 {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.hero-section .hero-section-description .hero-section-description-suggestions .hero-section-description-suggestions-block2 {
  max-width: 465px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-block-all {
  padding-top: 103px;
  padding-bottom: 84px;
}

.featured {
  display: flex;
  justify-content: space-between;
}
.featured .featured-block .featured-icon {
  display: flex;
}
.featured .featured-block .featured-icon img {
  margin-right: 17px;
  width: 65px;
  height: 24px;
}
.featured .featured-block .featured-icon h4 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  font-size: 20px;
}
.featured .featured-block .featured-text {
  margin-top: 27px;
  margin-left: 60px;
}
.featured .featured-block .featured-text p {
  max-width: 311px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.classes-block-all {
  padding-top: 84px;
  padding-bottom: 86px;
}

.classes .classes-header {
  margin: 0 auto;
  text-align: center;
}
.classes .classes-header h2 {
  font-size: 36px;
  line-height: 54px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 19px;
}
.classes .classes-header p {
  font-size: 18px;
  line-height: 27px;
  margin-left: 3px;
  margin-bottom: 85px;
}
.classes .classes-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 120px;
}
.classes .classes-card .classes-card-item {
  width: 276px;
  padding: 10px;
  border: 3px solid #282B57;
  border-radius: 15px;
  background-color: #212145;
  position: relative;
}
.classes .classes-card .classes-card-item:hover .classes-card-button {
  height: 43px;
}
.classes .classes-card .classes-card-item img {
  width: 252px;
  height: 169px;
  border-radius: 13px;
  margin-bottom: 21px;
}
.classes .classes-card .classes-card-item .classes-card-item-count {
  padding: 4px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 88px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 139px;
  left: 20px;
}
.classes .classes-card .classes-card-item .classes-card-item-title {
  display: block;
  color: rgb(59, 245, 189);
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 7px;
}
.classes .classes-card .classes-card-item h4 {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 12px;
}
.classes .classes-card .classes-card-item p {
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(41, 43, 86);
  margin-bottom: 16px;
}
.classes .classes-card .classes-card-item .classes-card-footer {
  display: flex;
  margin-bottom: -10px;
}
.classes .classes-card .classes-card-item .classes-card-footer .classes-card-footer-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.classes .classes-card .classes-card-item .classes-card-footer .classes-card-footer-name {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.classes .classes-card .classes-card-item .classes-card-footer .classes-card-footer-name .name {
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}
.classes .classes-card .classes-card-item .classes-card-footer .classes-card-footer-name .position {
  font-size: 12px;
}
.classes .classes-card .classes-card-item .classes-card-button {
  overflow: hidden;
  transition: all 0.4s ease-in;
  text-align: center;
  height: 0;
}
.classes .classes-card .classes-card-item .classes-card-button button {
  width: 155px;
  padding: 12px 32px;
  background-color: rgb(245, 68, 59);
  border-radius: 6px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid transparent;
}
.classes .classes-card .classes-card-item .classes-card-button button:hover {
  margin: 0 auto;
  display: block;
  border: 1px solid #008ABF;
  box-shadow: inset 0 0 15px 3px rgb(17, 37, 93);
  background: linear-gradient(rgb(208, 2, 27), rgb(208, 2, 27));
}
.classes .classes-button {
  width: 200px;
  margin: 0 auto;
}
.classes .classes-button button {
  width: 198px;
  padding: 16px 32px;
  border: 1px solid rgb(245, 68, 59);
  border-radius: 6px;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  color: rgb(245, 68, 59);
}
.classes .classes-button button:hover {
  border: 1px solid #008ABF;
  box-shadow: inset 0 0 15px 3px rgb(0, 0, 0);
}

.webinar-block-all {
  padding-top: 85px;
  padding-bottom: 80px;
}

.webinar .webinar-header {
  margin: 0 auto;
  width: 672px;
}
.webinar .webinar-header h2 {
  font-size: 36px;
  line-height: 54px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto 20px;
  text-align: center;
}
.webinar .webinar-header p {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 195px;
}
.webinar .webinar-block {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 113px;
}
.webinar .webinar-block .webinar-block-video1 {
  width: 34%;
}
.webinar .webinar-block .webinar-block-video2 {
  position: absolute;
  top: -34%;
  left: 24%;
  width: 52%;
}
.webinar .webinar-block .webinar-block-video3 {
  width: 34%;
}
.webinar .webinar-reference {
  display: flex;
  justify-content: end;
}
.webinar .webinar-reference a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  margin-right: 20px;
}
.webinar .webinar-reference a:hover {
  color: rgb(255, 255, 255);
}
.webinar .webinar-reference img {
  width: 24px;
  height: 32px;
  padding-top: 1px;
}

.pricing-block-all {
  padding-top: 80px;
  padding-bottom: 87px;
}

.pricing .pricing-header {
  margin: 0 auto;
  width: 330px;
}
.pricing .pricing-header h2 {
  font-size: 36px;
  line-height: 54px;
  color: rgba(255, 255, 255, 0.8);
  width: 257px;
  margin: 0 auto 20px;
}
.pricing .pricing-header p {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 84px;
}
.pricing .pricing-block {
  display: flex;
  justify-content: space-between;
}
.pricing .pricing-block .pricing-block-item {
  border: 3px solid #282B57;
  border-radius: 20px;
  padding: 33px;
  background-color: #212145;
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-header {
  display: flex;
  border-bottom: 1px solid rgb(41, 43, 86);
  padding-bottom: 24px;
  margin-bottom: 15px;
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-exception {
  position: relative;
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-exception img {
  width: 99px;
  height: 92px;
  position: absolute;
  top: -36px;
  left: 237px;
  border-radius: 20px;
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-stick {
  margin: 2px 29px 0 1px;
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-stick img {
  height: 56px;
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-tariffs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 67px;
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-tariffs .pricing-block-item-header-tariffs-name {
  padding-top: 3px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  font-size: 18px;
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-tariffs .pricing-block-item-header-tariffs-price {
  display: flex;
  height: 34px;
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-tariffs .pricing-block-item-header-tariffs-price .sign {
  display: flex;
  align-items: flex-start;
  height: 100%;
  color: rgb(245, 68, 59);
  margin-right: 3px;
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-tariffs .pricing-block-item-header-tariffs-price .price {
  color: rgb(245, 68, 59);
  font-size: 28px;
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 5px;
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-tariffs .pricing-block-item-header-tariffs-price .period {
  color: rgba(255, 255, 255, 0.8);
  font-size: 11px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-info {
  margin-left: -7px;
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-info ul li {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 17px;
  transition: all 0.3s ease-in;
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-info ul li:before {
  content: ".";
  font-size: 70px;
  align-items: center;
  color: rgb(151, 153, 206);
  margin-right: 7px;
}
.pricing .pricing-block .pricing-block-item .sub-btn button {
  width: 300px;
  border: 1px solid rgb(245, 68, 59);
  border-radius: 6px;
  color: rgb(245, 68, 59);
  height: 50px;
}
.pricing .pricing-block .pricing-block-item .sub-btn button:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgb(245, 68, 59);
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-sub1 {
  margin-top: 142px;
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-sub2 {
  margin-top: 104px;
}
.pricing .pricing-block .pricing-block-item .pricing-block-item-sub3 {
  margin-top: 29px;
}

.apps-block-all {
  padding-top: 87px;
  padding-bottom: 70px;
}

.apps {
  display: flex;
  justify-content: space-between;
  padding: 70px 137px 70px 70px;
  background-color: #212145;
  border-radius: 40px;
}
.apps .apps-info {
  padding-top: 16px;
  padding-left: 31px;
}
.apps .apps-info h3 {
  font-size: 47px;
  color: rgb(255, 255, 255);
  line-height: 75px;
  margin-bottom: 12px;
  text-align: center;
}
.apps .apps-info p {
  width: 406px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 32px;
  margin-bottom: 40px;
}
.apps .apps-info .apps-info-brands {
  display: flex;
  justify-content: space-between;
  width: 342px;
  padding-left: 5px;
}
.apps .apps-info .apps-info-brands .apps-info-brands-google img {
  width: 165px;
  height: 55px;
}
.apps .apps-info .apps-info-brands .apps-info-brands-apple img {
  padding-top: 3px;
  height: 53px;
}
.apps .apps-visual {
  margin-bottom: -59px;
  position: relative;
}
.apps .apps-visual .apps-visual-card {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.192) 0%, rgba(255, 255, 255, 0.088) 100%);
  border-radius: 20px 20px 0 0;
  padding: 20px;
  width: 285px;
  margin-top: -29px;
  margin-left: -10px;
  margin-bottom: -10px;
  position: relative;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-header {
  margin-bottom: 36px;
  display: flex;
  position: relative;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-header .apps-visual-card-header-avatar {
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 39px;
  height: 39px;
  border-radius: 10px;
  padding-top: 8px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-header .apps-visual-card-header-avatar img {
  display: block;
  margin: 0 auto;
  align-items: center;
  width: 22px;
  height: 26px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-header .apps-visual-card-header-description {
  margin-right: 83px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-header .apps-visual-card-header-description .hello {
  padding-top: 3px;
  font-size: 11px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-header .apps-visual-card-header-description .member {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-header .apps-visual-card-header-res {
  margin-top: 10px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-header .apps-visual-card-header-res img {
  height: 23px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-header .apps-visual-card-header-avatar1 {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 7px;
  border-radius: 50%;
  position: absolute;
  top: 76%;
  left: -41%;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-header .apps-visual-card-header-avatar1 img {
  width: 45px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body {
  display: flex;
  background-color: #4c4567;
  padding: 20px;
  border-radius: 17px;
  margin-bottom: 150px;
  position: relative;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-icon {
  width: 100px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-icon img {
  margin-top: -6px;
  margin-left: 6px;
  width: 68px;
  height: 68px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-description {
  width: 106px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-description .header-text {
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 8px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-description .descr-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 8px;
  line-height: 12px;
  margin-bottom: 3px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-avatar2 {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4px;
  border-radius: 50%;
  position: absolute;
  top: 65%;
  left: -29%;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-avatar2 img {
  width: 38px;
  height: 38px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-avatar3 {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: 102%;
  right: -21%;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-avatar3 img {
  width: 43px;
  height: 43px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-ref {
  position: absolute;
  top: 153%;
  left: -43%;
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-ref .apps-visual-ref-course {
  padding: 20px 14px 20px 14px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 17px;
  width: 159px;
  height: 94px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-ref .apps-visual-ref-course img {
  position: absolute;
  top: -30px;
  left: 30px;
  width: 100px;
  height: 88px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-ref .apps-visual-ref-course p {
  margin-top: 40px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 12px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-ref .apps-visual-ref-course p i {
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-ref .apps-visual-ref-course p .right {
  transform: rotate(-45deg);
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-ref .apps-visual-ref-class {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 17px;
  width: 159px;
  height: 94px;
  position: relative;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-ref .apps-visual-ref-class img {
  position: absolute;
  top: -36px;
  left: 22px;
  width: 104px;
  height: 96px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-ref .apps-visual-ref-class p {
  margin-top: 40px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 12px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-ref .apps-visual-ref-class p i {
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}
.apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-ref .apps-visual-ref-class p .right {
  transform: rotate(-45deg);
}

.footer-block-all {
  padding-top: 79px;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
}
.footer a:hover {
  color: rgb(245, 68, 59);
}
.footer .first {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.footer .retreat {
  margin-bottom: 25px;
}
.footer li {
  margin-bottom: 18px;
}
.footer svg:hover {
  fill: red;
  transition: 0.4s all ease-in;
}
.footer .footer-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 67px;
}
.footer .footer-links .footer-social {
  width: 300px;
}
.footer .footer-links .footer-social .footer-social-logo {
  margin-bottom: 10px;
}
.footer .footer-links .footer-social .footer-social-logo img {
  width: 117px;
  height: 56px;
}
.footer .footer-links .footer-social .footer-social-question {
  margin-bottom: 24px;
  width: 270px;
}
.footer .footer-links .footer-social .footer-social-question p {
  color: rgba(255, 255, 255, 0.8);
  line-height: 27px;
}
.footer .footer-links .footer-social .footer-social-links-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 155px;
  margin-left: -7px;
}
.footer .footer-links .footer-social .footer-social-links-ul img {
  width: 30px;
  height: 30px;
}
.footer .footer-links .footer-menu {
  width: 79px;
}
.footer .footer-links .footer-services {
  width: 162px;
}
.footer .footer-links .footer-info {
  width: 192px;
}
.footer .footer-links .footer-apps {
  width: 169px;
}
.footer .footer-copyright {
  margin: 0 auto 30px;
}
.footer .footer-copyright .footer-copyright-text p {
  color: rgb(143, 145, 208);
  line-height: 19px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
